<h1> Booklist component page </h1>
<p class="p">{{title}}</p>

<button [disabled]="!isdisbled">Property Binding</button> //disabled attribute is set to true using property binding
<br>
<br>
<button (click)="onClick()">Event Binding</button> // check console log for event binding output
<br>
<br>


<input type="text" [(ngModel)]="input"> //two way binding with ngModel
<p>{{input}}</p>

<br>
<br>
<p>Price: {{a | currency:'USD'}} // currency pipe to show price in USD</p>
<br>
<br>


<h2>BookList</h2>
<button (click)="show = !show">{{show ? 'Hide Button' : 'Show button'}}</button> // ngIf directive to show booklist
<br>
// ngFor directive to show booklist
<Ul *ngIf="show">
    <ng-container *ngFor="let books of booklist; index as i ">
        <app-book (addTocardEvent)="addToCard($event)" [book]="books" [index]="i"></app-book>
    </ng-container>
</Ul>